.content {
  border: 3px solid #73ad21;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    "sideImage sideImage sidePanel sidePanel sidePanel"
    "sideImage sideImage sidePanel sidePanel sidePanel"
    "sideImage sideImage sidePanel sidePanel sidePanel";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.sideImage {
  border: 3px solid #300772;
  grid-area: sideImage;
  border-radius: 1rem 0 0 1rem;
}
.sidePanel {
  border: 3px solid #c22509;
  grid-area: sidePanel;
  border-radius: 1rem 0 0 1rem;
}

img {
  height: 600px;
  width: 600px;
  border-radius: 1rem 0 0 1rem;
}
