<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script defer src="/assets/functions.js"></script>
    <script defer src="/assets/insertNewBusiness.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <title>Agregar Sociedad</title>
  </head>
  <body>
    <div id="navBar"></div>
    <script>
      $("#navBar").load("/assets/navBar.html");
    </script>
    <h1>Agregar Sociedad</h1>

    <form
      id="businessForm"
      action="/addBusiness"
      class="needs-validation"
      method="post"
      novalidate
    >
      <h2>Datos Generales</h2>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-4">
            <label for="">Nombre*</label>
            <input
              name="businessName"
              type="text"
              class="form-control"
              placeholder="Nombre de la sociedad"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="">Cédula Jurídica*</label>
            <input
              type="number"
              id="inputBusinessID"
              class="form-control"
              name="inputBusinessID"
              placeholder="Cédula Jurídica"
              required
            />
          </div>
        </div>
      </div>
      <h2>Representante Legal</h2>
      <div class="contentBackground">
        <div id="addOwner">
          <div id="ownerDIV1">
            <div class="row" id="ownerRow1">
              <div class="col-md-4" id="ownerNameInput1">
                <label class="ownerName" for="">Nombre*</label>
                <input
                  type="text"
                  class="form-control"
                  id="businessOwnerName1"
                  name="businessOwnerName"
                  placeholder="Nombre del Representante"
                  required
                />
              </div>
              <div class="col-md-4" id="ownerIDInput1">
                <label class="ownerID" for="">Cédula*</label>
                <input
                  type="number"
                  class="form-control"
                  id="businessOwnerID1"
                  name="businessOwnerID"
                  placeholder="Cédula"
                  onkeypress="limit(event,this.value,10)"
                  required
                />
              </div>
              <div class="col-md-4" id="ownerIDExpDateInput1">
                <label for="">Fecha de expiración de la Cédula*</label>
                <input
                  type="date"
                  class="form-control"
                  id="ownerIDExpDate1"
                  name="ownerIDExpDate"
                  placeholder="Fecha de expiración de la Cédula"
                  required
                />
              </div>
            </div>
            <div class="row" id="ownerSecRow1">
              <div class="col-md-4" id="ownerBirDateToolInput1">
                <label for="">Fecha de Nacimiento*</label>
                <input
                  type="date"
                  class="form-control"
                  id="ownerBirDate1"
                  name="ownerBirDate"
                  placeholder="Fecha de Nacimiento"
                  required
                />
              </div>
              <div class="col-md-4" id="ownerAddressInput1">
                <label for="">Domicilio*</label>
                <input
                  type="text"
                  class="form-control"
                  id="ownerAddress1"
                  name="ownerAddress"
                  placeholder="Domicilio"
                  required
                />
              </div>
            </div>
            <div class="row" id="ownerThrRow">
              <div class="col-md-6" id="ownerDeleteButtonInput"></div>
            </div>
          </div>
        </div>
        <button
          class="addButton btn btn-light"
          type="button"
          onclick="clonOwner()"
        >
          <i class="glyphicon glyphicon-plus"></i> Agregar Representante
        </button>
      </div>

      <h2>Datos contables</h2>

      <div class="contentBackground">
        <div class="row">
          <div class="col-md-4">
            <label for="">Usuario ATV*</label>
            <input
              type="text"
              class="form-control"
              name="atvUser"
              placeholder="Usuario ATV"
              required
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña ATV*</label>
            <input
              type="text"
              class="form-control"
              name="atvPassword"
              placeholder="Contraseña ATV"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="bill" for="">Sistema de Facturación</label>
            <input
              type="text"
              class="form-control"
              name="billSystem"
              placeholder="Sistema de Facturación"
            />
          </div>
          <div class="col-md-4">
            <label class="billUser" for=""
              >Usuario del Sistema de Facturación</label
            >
            <input
              type="text"
              class="form-control"
              name="billSystemUser"
              placeholder="Usuario del Sistema de Facturación"
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña del Sistema de Facturación</label>
            <input
              type="text"
              class="form-control"
              name="billSystemPassword"
              placeholder="Contraseña del Sistema de Facturación"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="billEmail" for=""
              >Correo para recepción de Facturas*</label
            >
            <input
              type="email"
              class="form-control"
              name="billEmail"
              placeholder="Correo para recepción de Facturas"
              required
            />
          </div>
          <div class="col-md-4">
            <label for=""
              >Contraseña del Correo para recepción de Facturas*</label
            >
            <input
              type="text"
              class="form-control"
              name="billEmailPassword"
              placeholder="Contraseña del Correo para recepción de Facturas"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Usuario Travi</label>
            <input
              type="text"
              class="form-control"
              name="traviUser"
              placeholder="Usuario Travi"
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña Travi</label>
            <input
              type="text"
              class="form-control"
              name="traviPassword"
              placeholder="Contraseña Travi"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Usuario CCSS</label>
            <input
              type="text"
              class="form-control"
              name="ccssUser"
              placeholder="Usuario CCSS"
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña CCSS</label>
            <input
              type="text"
              class="form-control"
              name="ccssPassword"
              placeholder="Contraseña CCSS"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Usuario INS</label>
            <input
              type="text"
              class="form-control"
              name="insUser"
              placeholder="Usuario INS"
            />
          </div>
          <div class="col-md-4">
            <label for="">Contraseña INS</label>
            <input
              type="text"
              class="form-control"
              name="insPassword"
              placeholder="Contraseña INS"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="">Agente encargado*</label>
            <input
              name="userCharge"
              class="form-control"
              list="datalistUser"
              id="exampleDataList"
              autocomplete="off"
              required
            />
            <datalist id="datalistUser">
              <% var i=0; user.forEach(function(data){ %>
              <option value="<%=data.id%>"><%=data.userName%></option>
              <% i++; }) %>
            </datalist>
          </div>
        </div>
      </div>
      <h2>Actividad Económica</h2>
      <div class="contentBackground">
        <div id="activity">
          <div id="activityDIV1">
            <div class="row" id="activityFrRow1">
              <div class="col-md-6">
                <input
                  name="activity"
                  class="form-control"
                  list="datalistOptions"
                  id="exampleDataList"
                  autocomplete="off"
                  required
                />
                <datalist id="datalistOptions">
                  <% var j=0; activity.forEach(function(datas){ %>
                  <option value="<%=datas.id%>"><%=datas.activityName%></option>
                  <% j++; }) %>
                </datalist>
              </div>
            </div>
            <div class="row" id="activitySecRow">
              <div class="col-md-6" id="activityDeleteButtonInput"></div>
            </div>
          </div>
        </div>
        <button
          class="addButton btn btn-light"
          type="button"
          onclick="cloneActivity()"
        >
          <i class="glyphicon glyphicon-plus"></i> Agregar Actividad
        </button>
      </div>

      <h2>TIV*</h2>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered tiv">
          <tr>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
            <th scope="col">I</th>
            <th scope="col">J</th>
            <th scope="col">K</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">N</th>
            <th scope="col">O</th>
          </tr>

          <tr>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="a"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="b"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="c"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="d"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="e"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="f"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="g"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="h"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="i"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="j"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="k"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="l"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="m"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="n"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="o"
                required
              />
            </th>
          </tr>
        </table>
      </div>
      <h2>Logo</h2>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-6">
            <input type="file" class="form-control" name="picture" />
          </div>
        </div>
      </div>

      <h2>Contactos</h2>
      <div class="contentBackground">
        <div id="contact">
          <div id="contactDIV1">
            <div class="row" id="contactRow1">
              <div class="col-md-4" id="inputContactName1">
                <label for="">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactName"
                  id="contactName1"
                  placeholder="Nombre"
                  required
                />
              </div>
              <div class="col-md-4" id="inputContactPhone1">
                <label for="">Número Telefónico</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactPhone"
                  id="contactPhone1"
                  onkeypress="limit(event,this.value,8)"
                  placeholder="Número Telefónico"
                  required
                />
              </div>
              <div class="col-md-4" id="inputContactEmail1">
                <label for="">Correo Electrónico</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactEmail"
                  id="contactEmail1"
                  placeholder="Correo Electrónico"
                  required
                />
              </div>
            </div>
            <div class="row" id="contactSecRow1">
              <div class="col-md-6" id="contactDeleteButtonInput1"></div>
            </div>
          </div>
        </div>
        <button
          class="addButton btn btn-light"
          type="button"
          onclick="cloneContact()"
        >
          <i class="glyphicon glyphicon-plus"></i> Agregar Contacto
        </button>
      </div>
      <button id="submit" type="submit" class="btn btn-dark col-md-12">
        Agregar Sociedad
      </button>
    </form>
  </body>
  <script>
    var i = 1;
    var j = 1;
    var z = 1;
    var newOwnerCount = 1;
    var newContactCount = 1;
    var newActivityCount = 1;
    (function () {
      "use strict";

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll(".needs-validation");

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener(
          "submit",
          function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  </script>
</html>
