<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script defer src="/assets/functions.js"></script>
    <script defer src="/assets/insertNewBusiness.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <title>Agregar Sociedad</title>
  </head>
  <body>
    <div id="navBar"></div>
    <h1>Agregar Sociedad</h1>
    <form
      id="businessForm"
      action="/addBusiness"
      class="needs-validation"
      method="post"
      novalidate
    >
      <!-------------------------------------- datos generales ------------------------->
      <h2>Datos Generales</h2>
      <div class="contentBackground">
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              name="businessName"
              id="businessName"
              type="text"
              class="form-control"
              placeholder="Nombre de la sociedad"
              required
            />
            <label for="businessName">Nombre*</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="number"
              id="businessID"
              class="form-control"
              name="businessID"
              placeholder="Cédula Jurídica"
              onkeypress="limit(event,this.value,10)"
              required
            />
            <label for="inputBusinessID">Cédula Jurídica*</label>
          </div>
        </div>
      </div>
      <!-------------------------------------- owmer Data ------------------------->
      <!------------- owmer Data Button ------------------------->
      <h2>Representante Legal</h2>
      <div class="editButtons">
        <button
          type="button"
          class="button"
          id="addOwnerButton"
          data-bs-toggle="modal"
          data-bs-target="#ownerFormModal"
        >
          <i class="material-icons">add</i>
          <span class="text">Agregar representante</span>
        </button>
      </div>
      <div class="contentBackground">
        <div id="addOwner"></div>
      </div>

      <h2>Datos contables</h2>

      <div class="contentBackground">
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="atvUser"
              placeholder="Usuario ATV"
              required
            />
            <label for="atvUser">Usuario ATV*</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              id="atvPassword"
              name="atvPassword"
              placeholder="Contraseña ATV"
              required
            />
            <label for="atvPassword">Contraseña ATV*</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="billSystem"
              id="billSystem"
              placeholder="Sistema de Facturación"
            />
            <label for="billSystem">Sistema de Facturación</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="billSystemUser"
              id="billSystemUser"
              placeholder="Usuario del Sistema de Facturación"
            />
            <label for="billSystemUser"
              >Usuario del Sistema de Facturación</label
            >
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="billSystemPassword"
              id="billSystemPassword"
              placeholder="Contraseña del Sistema de Facturación"
            />
            <label for="billSystemPassword"
              >Contraseña del Sistema de Facturación</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="email"
              class="form-control"
              name="billEmail"
              id="billEmail"
              placeholder="Correo de Facturas"
              required
            />
            <label for="billEmail">Correo de Facturas*</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="billEmailPassword"
              id="billEmailPassword"
              placeholder="Contraseña del Correo para recepción de Facturas"
              required
            />
            <label for="billEmailPassword"
              >Contraseña del Correo de Facturas*</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="traviUser"
              id="traviUser"
              placeholder="Usuario Travi"
            />
            <label for="traviUser">Usuario Travi</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="traviPassword"
              id="traviPassword"
              placeholder="Contraseña Travi"
            />
            <label for="traviPassword">Contraseña Travi</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="ccssUser"
              id="ccssUser"
              placeholder="Usuario CCSS"
            />
            <label for="">Usuario CCSS</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="ccssPassword"
              id="ccssPassword"
              placeholder="Contraseña CCSS"
            />
            <label for="ccssPassword">Contraseña CCSS</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="insUser"
              id="insUser"
              placeholder="Usuario INS"
            />
            <label for="">Usuario INS</label>
          </div>
          <div class="col-md-4 form-floating">
            <input
              type="text"
              class="form-control"
              name="insPassword"
              id="insPassword"
              placeholder="Contraseña INS"
            />
            <label for="insPassword">Contraseña INS</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-floating">
            <select
              name="userCharge"
              id="userCharge"
              class="form-select"
              list="datalistOptions"
              autocomplete="off"
              required
            >
              <% var i=0; user.forEach(function(data){ %>
              <option value="<%=data.id%>"><%=data.userName%></option>
              <% i++; }) %>
            </select>
            <label for="userCharge">Agente encargado*</label>
          </div>
        </div>
      </div>
      <h2>Actividad Económica</h2>
      <div class="editButtons">
        <button
          type="button"
          class="button"
          id="addActivityButton"
          data-bs-toggle="modal"
          data-bs-target="#activityFormModal"
        >
          <i class="material-icons">add</i>
          <span class="text">Agregar Actividad</span>
        </button>
      </div>
      <div class="contentBackground">
        <div id="addActivity"></div>
      </div>

      <h2>TIV*</h2>
      <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered tiv">
          <tr>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
            <th scope="col">I</th>
            <th scope="col">J</th>
            <th scope="col">K</th>
            <th scope="col">L</th>
            <th scope="col">M</th>
            <th scope="col">N</th>
            <th scope="col">O</th>
          </tr>

          <tr>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="a"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="b"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="c"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="d"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="e"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="f"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="g"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="h"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="i"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="j"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="k"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="l"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="m"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="n"
                required
              />
            </th>
            <th>
              <input
                oninput="this.value = this.value.toUpperCase()"
                onkeypress="limit(event,this.value,2)"
                size="1"
                type="text"
                name="o"
                required
              />
            </th>
          </tr>
        </table>
      </div>

      <h2>Contactos</h2>
      <div class="editButtons">
        <button
          type="button"
          class="button"
          id="addContactButton"
          data-bs-toggle="modal"
          data-bs-target="#contactFormModal"
        >
          <i class="material-icons">add</i>
          <span class="text">Agregar contacto</span>
        </button>
      </div>
      <div class="contentBackground">
        <div id="addContact"></div>
      </div>
      <button id="submit" type="submit" class="btn btn-dark col-md-12">
        Agregar Sociedad
      </button>
    </form>

    <!------------------------------------------ Modals ---------------------------------->
    <!----------------------- Owner Modal ---------------------------------->
    <div
      class="modal fade"
      tabindex="-1"
      id="ownerFormModal"
      aria-labelledby="ownerFormModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Nuevo Representante Legal:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="addOwnerForm" novalidate>
              <div id="addOwner">
                <div id="ownerDIVModal">
                  <div class="editButtons" id="deleteContactButtonDiv">
                    <button
                      id="deleteContactButton"
                      type="button"
                      class="hiddenButton button"
                      onclick="removeOwnerDIV()"
                    >
                      <i class="material-icons">clear</i>
                      <span class="text">Eliminar</span>
                    </button>
                  </div>
                  <div class="row" id="ownerRow">
                    <div class="col-md-4 form-floating" id="ownerNameInput">
                      <input
                        type="text"
                        class="form-control"
                        id="businessOwnerName"
                        name="businessOwnerName"
                        placeholder="Nombre del Representante"
                        required
                      />
                      <label for="businessOwnerName">Nombre*</label>
                    </div>
                    <div class="col-md-4 form-floating" id="ownerIDInput">
                      <input
                        type="number"
                        class="form-control"
                        id="businessOwnerID"
                        name="businessOwnerID"
                        placeholder="Cédula"
                        onkeypress="limit(event,this.value,10)"
                        required
                      />
                      <label for="businessOwnerID">Cédula*</label>
                    </div>
                    <div
                      class="col-md-4 form-floating"
                      id="ownerIDExpDateInput"
                    >
                      <input
                        type="date"
                        class="form-control"
                        id="ownerIDExpDate"
                        name="ownerIDExpDate"
                        placeholder="Fecha de expiración de la Cédula"
                        required
                      />
                      <label for="ownerIDExpDate"
                        >Expiración de la Cédula*</label
                      >
                    </div>
                  </div>
                  <div class="row" id="ownerSecRow">
                    <div
                      class="col-md-4 form-floating"
                      id="ownerBirthDateInput"
                    >
                      <input
                        type="date"
                        class="form-control"
                        id="ownerBirthDate"
                        name="ownerBirthDate"
                        placeholder="Fecha de Nacimiento"
                        required
                      />
                      <label for="ownerBirDate">Fecha de Nacimiento*</label>
                    </div>
                    <div class="col-md-4 form-floating" id="ownerAddressInput">
                      <input
                        type="text"
                        class="form-control"
                        id="ownerAddress"
                        name="ownerAddress"
                        placeholder="Domicilio"
                        required
                      />
                      <label for="ownerAddress">Domicilio*</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" form="addOwnerForm" class="btn btn-secondary">
              Agregar Representante
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!----------------------- Activity Modal ---------------------------------->
    <div
      class="modal fade"
      tabindex="-1"
      id="activityFormModal"
      aria-labelledby="activityFormModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Nueva actividad comercial:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="newActivityForm" novalidate>
              <div id="activityDIVModal">
                <div class="editButtons" id="deleteActivityButtonDiv">
                  <button
                    id="deleteActivityButton"
                    type="button"
                    class="hiddenButton button"
                    onclick="removeOwnerDIV()"
                  >
                    <i class="material-icons">clear</i>
                    <span class="text">Eliminar</span>
                  </button>
                </div>
                <select
                  name="businessActivity"
                  id="activity"
                  class="form-select"
                  required
                >
                  <% var j=0; activity.forEach(function(datas){ %>
                  <option value="<%=datas.id%>"><%=datas.activityName%></option>
                  <% j++; }) %>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              form="newActivityForm"
              class="btn btn-secondary"
            >
              Agregar actividad
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!----------------------- Contact Modal ---------------------------------->
    <div
      class="modal fade"
      tabindex="-1"
      id="contactFormModal"
      aria-labelledby="ownerFormModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Nuevo Contacto:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="newContactForm" novalidate>
              <div id="contactDIVModal">
                <div class="editButtons" id="deleteContactButtonDiv">
                  <button
                    id="deleteContactButton"
                    type="button"
                    class="hiddenButton button"
                    onclick="removeOwnerDIV()"
                  >
                    <i class="material-icons">clear</i>
                    <span class="text">Eliminar</span>
                  </button>
                </div>
                <div class="row" id="contactRow">
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      id="contactName"
                      name="contactName"
                      placeholder="Nombre"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      type="number"
                      class="form-control"
                      id="contactPhone"
                      name="contactPhone"
                      placeholder="Numero Telefonico"
                      onkeypress="limit(event,this.value,10)"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      type="email"
                      class="form-control"
                      id="contactEmail"
                      name="contactEmail"
                      placeholder="Correo electronico"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              form="newContactForm"
              class="btn btn-secondary"
            >
              Agregar contacto
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/assets/newBusinessFunction.js"></script>
</html>
