<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script defer src="/assets/functions.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="/assets/logo.png" />
    <title>Olvide mi PIN</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form
                    id="verifiedEmailForm"
                    method="post"
                    class="needs-validation"
                    novalidate
                  >
                    <h5 class="fw-normal mb-3 pb-3">
                      Ingresa tu correo electronico
                    </h5>

                    <div class="form-outline mb-4">
                      <input
                        type="email"
                        id="form2Example17"
                        name="email"
                        class="form-control form-control-lg"
                        value=""
                        required
                      />
                      <label class="form-label" for="form2Example17"
                        >Se te enviara un correo electronico con las
                        instrucciones para reiniciar tu contraseña</label
                      >
                    </div>
                    <div class="pt-1 mb-4">
                      <button
                        class="btn btn-dark btn-lg"
                        type="submit"
                        id="modall"
                      >
                        Reiniciar PIN
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="modalForgetPassword" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalForgetPasswordContent"></p>
        </div>
      </div>
    </section>
    <script>
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              if (form.checkValidity()) {
                var formData = JSON.stringify($("#ownerData").serializeArray());
                formData = JSON.parse(formData);
                $.ajax({
                  type: "POST",
                  url: "/resetPasswordEmail",
                  data: {
                    formData: formData,
                  },
                  success: function (data, status) {
                    $("#modalForgetPassword").modal("show");
                    $("#modalForgetPasswordContent").text(
                      "Se te ha enviado un correo electronico"
                    );
                  },
                });
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
<!-- Vertically centered modal -->
