<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script defer src="/assets/functions.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Inicia sesion</title>
  </head>
  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form
                    id="verifiedEmailForm"
                    action="/resetPasswordEmail"
                    method="post"
                    class="needs-validation"
                    novalidate
                  >
                    <h5 class="fw-normal mb-3 pb-3">
                      Ingresa tu correo electronico
                    </h5>

                    <div class="form-outline mb-4">
                      <input
                        type="email"
                        id="form2Example17"
                        name="email"
                        class="form-control form-control-lg"
                        value=""
                        required
                      />
                      <label class="form-label" for="form2Example17"
                        >Se te enviara un correo electronico con las
                        instrucciones para reiniciar tu contraseña</label
                      >
                    </div>
                    <div class="pt-1 mb-4">
                      <button
                        class="btn btn-dark btn-lg"
                        type="submit"
                        id="modall"
                      >
                        Reiniciar Contraseña
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalContent">Ha ingresado un Correo Electronico incorrecto</p>
        </div>
      </div>
    </section>
    <script>
      var array = '<%- JSON.stringify(user) %>';
      array = JSON.parse(array);
      var validation = false;
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("modall");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      $("#verifiedEmailForm").submit(function (event) {
        for (const email in array) {
          if (array[email].userEmail == $("#form2Example17").val()) {
            validation = true;
            $("#modalContent").text("Se te ha enviado un correo electronico");
            break;
          }
        }
        if (validation == false) {
          event.preventDefault();
        }
        modal.style.display = "block";
      });

      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
