h1 {
  margin: 10px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
h2 {
  border-bottom: black;
  border-bottom-style: groove;
  font-size: 20px;
  max-width: 100rem;
  margin: 40px auto 10px auto;
}

body {
  background-color: white;
  color: black;
  letter-spacing: 3px;
  font-family: "Open Sans Condensed", sans-serif;
}

input {
  margin-bottom: 10px;
  margin-right: 10px;
}

.addUserForm {
  margin: 10px;
  padding: 0;
}

#submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentBackground {
  background-color: #363636;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 100rem;
  margin: 0 auto;
  border-style: solid;
}

.hide {
  display: none;
}

.error {
  text-align: center;
}

.tiv {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  border-style: solid;
}

input[type="text"] {
  font-size: 15px;
  letter-spacing: 3px;
}

input[type="date"] {
  font-size: 15px;
  letter-spacing: 3px;
}
input[type="number"] {
  font-size: 15px;
  letter-spacing: 3px;
}

select {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}

input[type="password"] {
  font-size: 15px;
  letter-spacing: 3px;
}
input[type="email"] {
  font-size: 15px;
  letter-spacing: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th > input {
  text-align: center;
}
th > input:read-only {
  background-color: #cacaca;
}

.deleteButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

.editUser {
  margin-top: 3px;
}

.addOwnerDIV {
  border-top-style: groove;
}

.tokenInvalid {
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0 5px 0;
  color: white;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
  .bill,
  .ownerName,
  .ownerID {
    margin-top: 60px;
  }
  .billEmail {
    margin-top: 0;
  }
  input {
    width: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1375px) {
  .bill,
  .ownerName,
  .ownerID {
    margin-top: 30px;
  }
  .billEmail {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1420px) {
  .ownerName,
  .ownerID {
    margin-top: 30px;
  }
  .billEmail {
    margin-top: 60px;
  }
  .bill,
  .billUser {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1740px) {
  .ownerName,
  .ownerID,
  .bill,
  .billUser {
    margin-top: 30px;
  }
  .billEmail {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 2000px) {
  .ownerName,
  .ownerID,
  .bill,
  .billUser {
    margin-top: 30px;
  }
}
img {
  max-width: 100%;
  height: 100%;
}

.addButton {
  margin: 20px auto;
}

.search {
  width: 100%;
}
.edit {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  max-width: 100rem;
  margin: 20px auto;
}
.save {
  display: inline;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  max-width: 100rem;
  margin: 20px auto;
}

.editButtons {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 100rem;
  margin: 0 auto;
}
#addActivity {
  display: none;
}

.editAddActivity {
  margin: 10px 0 10px 0;
}
.activityFrRow1 {
  margin-top: 10px;
}

.deleteButton {
  margin: 0;
}

.divDeleteButton {
  display: none;
}

.loginScreen {
  margin: 0;
  color: black;
}

.currentActivities {
  border-bottom-style: solid;
  border-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}
