h1 {
  margin: 10px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
h2 {
  border-bottom: black;
  border-bottom-style: groove;
  font-size: 20px;
  max-width: 100rem;
  margin: 40px auto 10px auto;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(#ffffff 0%, #666666 100%);
  background-repeat: no-repeat;
  height: 100%;
  color: black;
  letter-spacing: 3px;
  font-family: "Open Sans Condensed", sans-serif;
}
input {
  margin-bottom: 20px;
  margin-right: 10px;
}

#submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contentBackground {
  background-color: #6b6b6b;
  padding: 10px;
  border-radius: 10px;
  max-width: 100rem;
  margin: 0 auto;
  border-style: solid;
}

.hide {
  display: none;
}

.error {
  text-align: center;
}

.tiv {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  border-style: solid;
}

select {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th > input {
  text-align: center;
}
th > input:read-only {
  background-color: #cacaca;
}

.editUser {
  margin-top: 3px;
}

.contactDIV {
  border-bottom-style: solid;
  border-color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}

.tokenInvalid {
  text-align: center;
}

label {
  font-weight: bold;
  margin: 0px 0px 5px 10px;
  color: rgb(41, 41, 41);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
  .bill,
  .ownerName,
  .ownerID {
    margin-top: 60px;
  }
  .billEmail {
    margin-top: 0;
  }
  input {
    width: 100px;
  }
}

img {
  max-width: 100%;
  height: 100%;
}

.addButton {
  margin: 20px auto;
}

.search {
  width: 100%;
}

.editButtons {
  margin: 5px;
  border-radius: 10px;
  max-width: 100rem;
  margin: 0 auto;
}

.editAddActivity {
  margin: 10px 0 10px 0; 
}
.activityFrRow1 {
  margin-top: 10px;
}

.divDeleteButton {
  display: none;
}

.loginScreen {
  margin: 0;
  color: black;
}

.currentActivities {
  border-bottom-style: solid;
  border-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ownerDIV {
  border-bottom-style: solid;
  border-color: white;
  margin-bottom: 20px;
  margin-top: 5px;
}

.divDeleteButtonOwner {
  display: none;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v125/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.button {
  background-color: rgb(71, 71, 71);
  color: white;
  text-decoration: none;
  border-radius: 60px;
  border-color: transparent;
  height: 32px;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 35px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.button:hover {
  max-width: 300px;
}

.icon {
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  margin-right: 15px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}

.text {
  white-space: nowrap;
  padding-right: 15px;
}
.hiddenButton {
  display: none;
}
