h1 {
  margin: 10px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
h2 {
  border-bottom: black;
  border-bottom-style: groove;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background-color: white;
  color: black;
  letter-spacing: 3px;
  font-family: "Open Sans Condensed", sans-serif;
}

input {
  margin-bottom: 10px;
  margin-right: 10px;
}

.addUserForm {
  margin: 10px;
  padding: 0;
}

#submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentBackground {
  background-color: #737373;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.hide {
  display: none;
}

.error {
  text-align: center;
}

.tiv {
  text-align: center;
  width: 100%;
}

input[type="text"] {
  font-size: 20px;
  letter-spacing: 3px;
}

input[type="date"] {
  font-size: 20px;
  letter-spacing: 3px;
}
input[type="number"] {
  font-size: 20px;
  letter-spacing: 3px;
}
optgroup {
  font-size: 15px;
}
select {
  height: 40px;
  margin-bottom: 10px;
}

input[type="password"] {
  font-size: 20px;
  letter-spacing: 3px;
}
input[type="email"] {
  font-size: 20px;
  letter-spacing: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th > input {
  text-align: center;
}
th > input:read-only {
  background-color: #cacaca;
}
/* Tooltip text */
.tooltipText {
  visibility: hidden;
  font-size: 80%;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.deleteButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

.editUser {
  margin-top: 3px;
}

.addOwnerDIV {
  border-top-style: groove;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tokenInvalid {
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
  .bill,
  .ownerName,
  .ownerID {
    margin-top: 30px;
  }
  .billEmail {
    margin-top: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1375px) {
  .bill,
  .ownerName,
  .ownerID {
    margin-top: 0;
  }
  .billEmail {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1420px) {
  .ownerName,
  .ownerID {
    margin-top: 0;
  }
  .billEmail,
  .bill,
  .billUser {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1720px) {
  .ownerName,
  .ownerID,
  .bill,
  .billUser {
    margin-top: 0;
  }
  .billEmail {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 2000px) {
  .ownerName,
  .ownerID,
  .bill,
  .billUser,
  .billEmail {
    margin-top: 0;
  }
}
img {
  max-width: 100%;
  height: 100%;
}

.addButton{
  margin-left: 5px;
}
